<!DOCTYPE html>
<html>
    <head>
        <title>Blog Website</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class = "container">
            <h1>New Blog Post:</h1>
            <%# form and button for author %>
            <form action = "/" method = "POST">
                <div class = "form-group">
                    <label for = "author">Author:</label>
                    <%# if post to edit contains data, form is filled with data from author %>
                    <input type = "text" id = "author" name = "author" value = "<%= postToEdit ? postToEdit.author : '' %>" required >
                </div>

                <%# form and button for title %>
                <div class = "form-group">
                    <label for = "title">Title:</label>
                    <%# if post to edit contains data, form is filled with data from title %>
                    <input type = "text" id = "title" name = "title" value = "<%= postToEdit ? postToEdit.title : '' %>" required>
                </div>

                <%# form and button for content %>
                <div class = "form-group">
                    <label for = "content">Content:</label>
                    <%# if post to edit contains data, form is filled with data from content %>
                    <textarea id = "content" name = "content" required><%= postToEdit ? postToEdit.content : '' %></textarea>
                </div>

                <%# button for submit or updating post %>
                <div class = "form-group">
                    <%# if post to edit contians data, button will update post, otherwise submit %>
                    <button type = "submit"><%= postToEdit ? 'Update Post' : 'Submit' %></button>
                </div>

                <%# if post to edit contains data assume we are editting %>
                <% if( postToEdit ) { %>
                    <%# hidden filed is created with original title %>
                    <input type = "hidden" name = "originalTitle" value = "<%= postToEdit.title %>">
                <% } %>

            </form>
            
            <h2>Recent Posts:</h2>
            <ul>
                <%# loop over ever object in posts array %>
                <% posts.forEach( post => { %>
                    <%# new list item for each post %>
                    <li>
                        <%# display all content in post %>
                        <h3><%= post.title %></h3>
                        <p><%= post.content %></p>
                        <p>By: <%= post.author %></p>
                        <p>Time: <%= post.timestamp %></p>

                        <div class = "button-group">
                            <%# delete button %>
                            <form action = "/delete" method = "POST">
                                <input type = "hidden" name = "title" value = "<%= post.title %>">
                                <button type = "submit" >Delete</button>
                            </form>

                            <%# edit button %>
                            <form action = "/edit" method = "POST">
                                <input type = "hidden" name = "title" value = "<%= post.title %>">
                                <button type = "submit" >Edit</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul> 
        </div>
    </body>
</html>